<a
    [routerLink]="['/product', product.id]"
    [title]="product.title + ' details'"
    [@addToCart]="{ value: state, params: { positionX: position.x, positionY: position.y } }"
    style="--price: '{{ product.price | currency }}'; --image: url({{ product.image }}); --origin: '{{ location.origin }}';"
>
    <slot name="cover" part="cover" class="cover">
        <img
            class="default-image"
            [alt]="product.title"
            [src]="showImage ? product.image : '#'"
        />
    </slot>

    <section>
        <span class="title">{{ product.title }}</span>

        <slot></slot>
    </section>
</a>