<p>
    <a routerLink="/shipping">Shipping Prices</a>
</p>

<div *ngFor="let item of items" class="cart-item item-{{ item.id }}">
    <h1>{{ item.title }} <b>{{ item.price | currency }}</b></h1>
    <input [value]="item.quantity" />
    <button (click)="remove(item)">Remove</button>
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="checkoutForm">
    <div>
        <label for="name">
            Name
        </label>
        <input formControlName="name" id="name" type="text">
    </div>

    <div>
        <label for="address">
            Address
        </label>
        <input formControlName="address" id="address" type="text">
    </div>

    <button class="button" type="submit">continue to payment</button>
</form>
