<p>
    <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="items">
    <app-product-list-item *ngFor="let item of items" [product]="item" style="--quantity: '{{ item.quantity }}'">
        <footer (click)="$event.preventDefault(); $event.stopPropagation();">
            <input type="number" [value]="item.quantity" (change)="item.quantity=grabValue($event)" />

            <button (click)="remove(item)">Remove</button>
        </footer>
    </app-product-list-item>
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="checkoutForm">
    <div>
        <label for="name">
            Name
        </label>
        <input formControlName="name" id="name" type="text">
    </div>

    <div>
        <label for="address">
            Address
        </label>
        <input formControlName="address" id="address" type="text">
    </div>

    <button class="button" type="submit">continue to payment</button>
</form>
