.container
{
    display: grid;
    container: product-detail / inline-size;
}

.product-detail
{
    display: grid;
    gap: 1em;
    place-items: start;
}

.product-detail > .image
{
    grid-area: image;
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 40em;
    object-fit: contain;
}

.product-detail > .title
{
    grid-area: title;
}

.product-detail > .price
{
    grid-area: price;
}

.product-detail > .description
{
    grid-area: description;
}

.product-detail > .action
{
    grid-area: action;
}

@container product-detail (inline-size <= 40em)
{
    .product-detail
    {
        grid: repeat(4, auto) 1fr / 100%;
        grid-template-areas:
            'image'
            'title'
            'price'
            'action'
            'description'
        ;
    }
}

@container product-detail (inline-size > 40em)
{
    .product-detail
    {
        grid: repeat(3, auto) 1fr / minmax(20em, 1fr) auto;
        grid-template-areas:
            'image title'
            'image price'
            'image description'
            'image action'
        ;
    }
}