@media screen and (prefers-color-scheme: light), print
{
    :root
    {
        --plain-bg-rgb: 255 255 250;
        --plain-fg-rgb: 34 34 34;

        --primary-bg-rgb: 65 112 129;
        --primary-fg-rgb: 255 255 250;
    }

    @media screen and (prefers-contrast: more)
    {
        :root
        {
            --plain-bg-rgb: 255 255 255;
            --plain-fg-rgb: 0 0 0;

            --primary-bg-rgb: 65 112 129;
            --primary-fg-rgb: 34 34 34;
        }
    }

    @media screen and (prefers-contrast: less)
    {
        :root
        {
            --plain-bg-rgb: 230 230 225;
            --plain-fg-rgb: 50 50 50;

            --primary-bg-rgb: 65 112 129;
            --primary-fg-rgb: 34 34 34;
        }
    }
}

@media screen and (prefers-color-scheme: dark)
{
    :root
    {
        --plain-bg-rgb: 34 34 34;
        --plain-fg-rgb: 255 255 250;

        --primary-bg-rgb: 65 112 129;
        --primary-fg-rgb: 255 255 250;
    }

    @media (prefers-contrast: more)
    {
        :root
        {
            --plain-bg-rgb: 0 0 0;
            --plain-fg-rgb: 255 255 255;

            --primary-bg-rgb: 65 112 129;
            --primary-fg-rgb: 34 34 34;
        }
    }

    @media (prefers-contrast: less)
    {
        :root
        {
            --plain-bg-rgb: 50 50 50;
            --plain-fg-rgb: 230 230 225;

            --primary-bg-rgb: 65 112 129;
            --primary-fg-rgb: 34 34 34;
        }
    }
}

:root
{
    --plain-bg: rgb(var(--plain-bg-rgb));
    --plain-fg: rgb(var(--plain-fg-rgb));

    --primary-bg: rgb(var(--primary-bg-rgb));
    --primary-fg: rgb(var(--primary-fg-rgb));

    --radius: .5em;
}




*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    overflow-x: clip;
    background-color: var(--plain-bg);
    color: var(--plain-fg);
    font-family: 'Roboto', Arial, sans-serif;
}

/* Text */

h1
{
    font-size: 2rem;
}

h2
{
    font-size: 1.25rem;
}

h1, h2
{
    font-weight: lighter;
}

p
{
    font-size: .9rem;
}

/* Hyperlink */

a
{
    cursor: pointer;
    color: var(--primary-fg);
    text-decoration: none;
}

/* Input */

input
{
    font-size: 14px;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid var(--plain-fg);
}

label
{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
}

/* Button */
.button, button
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: .5em 1em;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    border: none;
}

/* Checkout Cart, Shipping Prices */

.cart-item, .shipping-item
{
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #eee;
}

fa-icon
{
    inline-size: 1.2em;
    color: inherit;
}