<h2>Products</h2>

<main class="product-list">
    <a
        class="product-list-item"
        [routerLink]="['/product', product.id]"
        [title]="product.title + ' details'"
        *ngFor="let product of products"
    >
        <img [src]="product.image" />

        <h3 class="price">{{ product.price | currency }}</h3>

        <h3>{{ product.title }}</h3>

        <p *ngIf="product.description">
            {{ product.description }}
        </p>

        <div class="buttons">
            <button (click)="share(product)">Share</button>

            <app-product-alert
                (notify)="onNotify($event)"
                [product]="product"
            ></app-product-alert>
        </div>
    </a>
</main>
