<main class="product-list">
    <div class="inner">
        <a
            *ngFor="let product of products"
            [routerLink]="['/product', product.id]"
            [title]="product.title + ' details'"
            class="product-list-item"
            style="--price: '{{ product.price | currency }}'; --image: url({{ product.image }}); --origin: '{{ location.origin }}';"
        >
            <img
                [alt]="product.title"
                [src]="showImages ? product.image : '#'"
            />

            <section>
                <span class="title">{{ product.title }}</span>

                <div class="counters">
                    <span class="value">{{ product.rating.rate }}</span>
                    <p>Rating</p>

                    <span class="value">{{ product.rating.count }}</span>
                    <p>Sold</p>
                </div>

                <button
                    (click)="addToCart(product); $event.preventDefault(); $event.stopPropagation();"
                    type="button"
                >Buy
                </button>

                <footer (click)="$event.preventDefault(); $event.stopPropagation();">
                    <button (click)="share(product)">Share</button>

                    <app-product-alert
                        (notify)="onNotify($event)"
                        [product]="product"
                    ></app-product-alert>
                </footer>
            </section>
        </a>
    </div>
</main>
